* {
  font-family: "Poppins";
  --primary: #fb7597;
  --accent: #fb1a66;
}
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: var(--primary);
}
header {
  color: var(--primary);
  border-bottom: 3px solid #222;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  margin: 1rem;
  /* margin: 0 auto; */
  /* justify-content: center; */
  text-align: center;
}
main {
  position: fixed;
  top: 120px;
}
.cards .card {
  margin: 10px;
}
.card {
  background-color: #1f1f1f;
  /* color: var(--primary); */
  /* text-align: center; */
}
.card-subtitle {
  /* color: var(--primary); */
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
a:hover {
  color: var(--accent);
}
.manager {
  color: #ac0e3c;
}
.engineer {
  color: #fb2a71;
}
intern {
  color: #fb7597;
}
